<p>
  add works!
</p>
<div align="center" [hidden]="!submitted">
	First Name:<input type="text" [(ngModel)]="user.firstName" autofocus><br><br>
	Last Name:<input type="text" [(ngModel)]="user.lastName"><br><br>
	Email id:<input type="email" [(ngModel)]="user.email"><br><br>
	Address:<input type="address" [(ngModel)]="user.address"> 
	<button class="btn btn-success" (click)="saveUser(user)">Save</button>
</div>
<div align="center" [hidden]="submitted">
	
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First Name</div>
      <div class="col-xs-9  pull-left">{{ user.firstName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Last Name</div>
      <div class="col-xs-9 pull-left">{{ user.lastName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-9 pull-left">{{ user.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Address</div>
      <div class="col-xs-9 pull-left">{{ user.address }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=true">Edit</button>

</div>


