  <div class=" navbar-collapse" align="center">
    <ul class="nav navbar-nav navbar-middle header-hide">
      <li><a class="navbar-links" id="dashboard" [routerLink]="['/']">Home</a></li>
      <li><a class="navbar-links" id="dashboard" [routerLink]="['/add']">Add</a></li>
      <li><a class="navbar-links" [routerLink]="['/view']" id="dashboard">View</a></li>
      <li><a class="navbar-links" [routerLink]="['/modal']" id="charts and graphs">MODAL</a></li>
      <li><a class="navbar-links" [routerLink]="['/ngMultiSelected']" id="Share Data2">ng-multi-selected</a></li>
      <li><a class="navbar-links" [routerLink]="['/login']" id="dashboard">Login</a></li>
      <li><a class="navbar-links" [routerLink]="['/jaddStudent']" id="dashboard">JAdd</a></li>
      <li><a class="navbar-links" [routerLink]="['/jviewStudents']" id="dashboard">JView</a></li>
      <li><a class="navbar-links" [routerLink]="['/Shop']" id="dashboard">Shop</a></li>
      <li><a class="navbar-links" [routerLink]="['/workOut']" id="dashboard">WorkOut</a></li>
      <li><a class="navbar-links" [routerLink]="['/customValidation']" id="dashboard">CustomValidation</a></li>
      <li><a class="navbar-links" [routerLink]="['/ngcss']" id="dashboard">NG+CSS</a></li>
      <li><a class="navbar-links" [routerLink]="['/multiRadio']" id="dashboard">multiRadio</a></li>
      <li><a class="navbar-links" [routerLink]="['/$watch']" id="$watch">$watch</a></li>
      <li><a class="navbar-links" [routerLink]="['/$watchDigestApply']" id="$watch">$watchDigestApply</a></li>
      <li><a class="navbar-links" [routerLink]="['/services']" id="services">services</a></li>
      <li><a class="navbar-links" [routerLink]="['/multiImgUpload']" id="services">Multiple Image</a></li>
      <li><a class="navbar-links" [routerLink]="['/AngularForEach']" id="services">Angular For Each</a></li>
      <li><a class="navbar-links" [routerLink]="['/accordions']" id="services">Accordion</a></li>
      <li><a class="navbar-links" [routerLink]="['/charts']" id="charts and graphs">Charts</a></li>
      <!--timeDate-->
      <li><a class="navbar-links" [routerLink]="['/timeDate']" id="charts and graphs">TIMEnDATE</a></li>
      <li><a class="navbar-links" [routerLink]="['/imgSlider']" id="Image Slider">Img-Slider</a></li>
      <li><a class="navbar-links" [routerLink]="['/checkList']" id="Image Slider">Chcek-List</a></li>
      <li><a class="navbar-links" [routerLink]="['/shareBetweenPages']" id="Share Data1">Share1</a></li>
      <li><a class="navbar-links" [routerLink]="['/shareData']" id="Share Data2">Share2</a></li>
      
      <li><a class="navbar-links" [routerLink]="['/imageCompression']" id="Share Data2">Image Compression</a></li>
      <li><a class="navbar-links" [routerLink]="['/AngularImageCompression']" id="Share Data2">Angular Image Compression</a></li>
      <li><a class="navbar-links" [routerLink]="['/NestedFilters']" id="Share Data2">Nested Filters</a></li>
      <li><a class="navbar-links" [routerLink]="['/imageCrop']" id="Share Data2">Image Crop</a></li>
      <li><a class="navbar-links" [routerLink]="['/uploadToFolder']" id="Share Data2">UploadToFolder</a></li>
      <li><a class="navbar-links" [routerLink]="['/components']" id="Share Data2">Components</a></li>
      <li><a class="navbar-links" [routerLink]="['/for']" id="Share Data2">For</a></li>
    </ul>
  </div>
<hr>
<div>
   <div class="container">
   <router-outlet></router-outlet>
  </div>
</div>
